In [1]:
import pandas as pd

### Task 1

In [3]:
marketing_data = pd.read_excel("Case Task.xlsx", sheet_name="MARKETING DATA")
marketing_data.head()

,Date,Media Source,Impressions,Clicks,Installs,CR to install,Conversion action (trials),Total Cost,Total Revenue
0,2023-09-30,facebook,229908,2787.0,657,0.235737,210,3667.91,2320.5
1,2023-09-30,facebook,222695,2782.0,755,0.271387,173,2861.00,-2227.0
2,2023-09-30,facebook,251028,2851.0,663,0.232550,155,2782.00,-2166.0
3,2023-09-30,facebook,235129,3623.0,738,0.203699,198,3486.00,2345.0
4,2023-09-30,facebook,169063,2568.0,830,0.323209,260,3308.00,2609.0

In [3]:
marketing_data.shape

(1913, 9)

In [4]:
marketing_data.dtypes

Date                          datetime64[ns]
Media Source                          object
Impressions                            int64
Clicks                               float64
Installs                               int64
CR to install                        float64
Conversion action (trials)             int64
Total Cost                           float64
Total Revenue                        float64
dtype: object

In [4]:
# select only September

marketing_data_sep = marketing_data.loc[
    (marketing_data["Date"] >= "2023-09-01") & (marketing_data["Date"] < "2023-10-01")
]
marketing_data_sep.shape

(1806, 9)

In [6]:
marketing_data["Media Source"].unique()

array(['facebook', 'snapchat', 'tiktok', nan, 'Organic', 'email',
       'social', 'social_network', 'Email', 'appsflyer_sdk_test_int',
       'User invite', 'Apple Search Ads', 'viral'], dtype=object)

In [12]:
# Number of impressions

for source in ["facebook", "tiktok", "snapchat"]:
    print(source, ": ", marketing_data_sep[marketing_data_sep["Media Source"] == source]["Impressions"].sum(), sep="")

facebook: 152639418
tiktok: 15704237
snapchat: 17020457

In [15]:
# Number of clicks

for source in ["facebook", "tiktok", "snapchat"]:
    print(source, ": ", marketing_data_sep[marketing_data_sep["Media Source"] == source]["Clicks"].sum(), sep="")

facebook: 1635110.0
tiktok: 164141.0
snapchat: 309087.0

In [16]:
# Number of installs

for source in ["facebook", "tiktok", "snapchat"]:
    print(source, ": ", marketing_data_sep[marketing_data_sep["Media Source"] == source]["Installs"].sum(), sep="")

facebook: 620123
tiktok: 56356
snapchat: 44950

In [17]:
# Number of conversions

for source in ["facebook", "tiktok", "snapchat"]:
    print(source, ": ", marketing_data_sep[marketing_data_sep["Media Source"] == source]["Conversion action (trials)"].sum(), sep="")

facebook: 120122
tiktok: 14797
snapchat: 16519

In [23]:
# CPM

for source in ["facebook", "tiktok", "snapchat"]:
    total_cost = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Total Cost"].sum()
    total_impressions = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Impressions"].sum()
    cpm = 1000 * total_cost / total_impressions
    print(source, ": ", f'{cpm:.2f}', sep="")

facebook: 13.63
tiktok: 9.94
snapchat: 13.49

In [37]:
# CTR

for source in ["facebook", "tiktok", "snapchat"]:
    total_clicks = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Clicks"].sum()
    total_impressions = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Impressions"].sum()
    ctr = total_clicks / total_impressions
    print(source, ": ", ctr, sep="")

facebook: 0.010712239481940373
tiktok: 0.010452020050385128
snapchat: 0.01815973566397189

In [25]:
# CPC

for source in ["facebook", "tiktok", "snapchat"]:
    total_cost = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Total Cost"].sum()
    total_clicks = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Clicks"].sum()
    cpc = total_cost / total_clicks
    print(source, ": ", f'{cpc:.2f}', sep="")

facebook: 1.27
tiktok: 0.95
snapchat: 0.74

In [26]:
# CPA

for source in ["facebook", "tiktok", "snapchat"]:
    total_cost = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Total Cost"].sum()
    total_actions = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Conversion action (trials)"].sum()
    cpa = total_cost / total_actions
    print(source, ": ", f'{cpa:.2f}', sep="")

facebook: 17.31
tiktok: 10.55
snapchat: 13.90

In [35]:
# Total Cost

for source in ["facebook", "tiktok", "snapchat"]:
    print(source, ": ", marketing_data_sep[marketing_data_sep["Media Source"] == source]["Total Cost"].sum(), sep="")

facebook: 2079751.4700000002
tiktok: 156150.38
snapchat: 229542.07

In [6]:
# Conversion from a click to an install

for source in ["facebook", "tiktok", "snapchat"]:
    total_clicks = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Clicks"].sum()
    total_installs = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Installs"].sum()
    conversion = total_installs / total_clicks
    print(source, ": ", f'{conversion:.2f}', sep="")

facebook: 0.38
tiktok: 0.34
snapchat: 0.15

In [7]:
# Conversion from install to conversion

for source in ["facebook", "tiktok", "snapchat"]:
    total_installs = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Installs"].sum()
    total_conversion = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Conversion action (trials)"].sum()
    conversion = total_conversion / total_installs
    print(source, ": ", f'{conversion:.2f}', sep="")

facebook: 0.19
tiktok: 0.26
snapchat: 0.37

In [9]:
# Total Revenue Gross

for source in ["facebook", "tiktok", "snapchat"]:
    rev_gross = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Total Revenue"].sum()
    print(source, ": ", f'{rev_gross:.2f}', sep="")

facebook: 525684.95
tiktok: 61653.94
snapchat: 73709.36

In [10]:
# Total Revenue Net

for source in ["facebook", "tiktok", "snapchat"]:
    rev_net = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Total Revenue"].sum() * 0.7
    print(source, ": ", f'{rev_net:.2f}', sep="")

facebook: 367979.46
tiktok: 43157.76
snapchat: 51596.55

In [11]:
# ROI

for source in ["facebook", "tiktok", "snapchat"]:
    rev_net = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Total Revenue"].sum() * 0.7
    total_cost = marketing_data_sep[marketing_data_sep["Media Source"] == source]["Total Cost"].sum()
    roi = (rev_net - total_cost) / total_cost
    print(source, ": ", f'{roi:.2f}', sep="")

facebook: -0.82
tiktok: -0.72
snapchat: -0.78

### Task 2

In [2]:
ios_data = pd.read_excel("Case Task.xlsx", sheet_name="iOS DATA")
ios_data.head()

,user_id,install_date,subscription_name,payment_type,event_date,country,device_family,device_type,os_version,language,system_theme,refund
0,ed7bba31-2aa0-411d-ab51-727e91bb91af,2023-06-01,subs_weekly_7dayTrial_4.99,free trial,2023-06-01,Argentina,Apple iPhone,Apple iPhone X,16.4.1,Spanish,light,NaN
1,b28a53ac-a75b-401e-a839-56b68fc84581,2023-06-01,subs_weekly_7dayTrial_4.99,free trial,2023-06-01,United States,Apple iPhone,Apple iPhone 13 Pro Max,16.4.1,English,light,NaN
2,2d4e82cc-845e-408d-a2c8-545648349c4f,2023-06-01,subs_weekly_7dayTrial_4.99,free trial,2023-06-01,Brazil,Apple iPhone,Apple iPhone 8,16.1.1,Portuguese,dark,NaN
3,e9d0bd86-138e-4e78-ac99-e45b85518567,2023-06-01,subs_weekly_7dayTrial_4.99,free trial,2023-06-01,Japan,Apple iPhone,Apple iPhone XS,16.5,Japanese,dark,NaN
4,e6c5188d-3152-423a-9c9e-9846fb81f420,2023-06-01,subs_weekly_7dayTrial_4.99,free trial,2023-06-01,Australia,Apple iPhone,Apple iPhone 14 Pro,16.3.1,English,light,NaN

In [3]:
ios_data.shape

(7276, 12)

In [4]:
ios_data.dtypes

user_id                      object
install_date                 object
subscription_name            object
payment_type                 object
event_date           datetime64[ns]
country                      object
device_family                object
device_type                  object
os_version                   object
language                     object
system_theme                 object
refund                       object
dtype: object

In [6]:
# Amount of trials

ios_data[ios_data["payment_type"] == "free trial"]["payment_type"].count()

3341

In [10]:
# Amount of 1st purchase

vc = ios_data['user_id'].value_counts()
vc

user_id
f05fff38-69d6-4af8-a90e-53d9ddbac5ef    6
e73d6660-876f-4897-9c48-d73867ecb784    6
078d91bc-206b-4f40-9e60-a77cc1c9b017    6
79af4876-b0e1-4108-99fa-7c893270ced1    6
2971f02c-0586-47f1-9e14-00ba900e8d22    6
                                       ..
47f3c3d1-6c72-4546-98ea-611c93c82837    1
23e42a75-d37b-488d-bd1e-b6a07dbb6dab    1
65cc5bea-fb53-414c-a7e4-30f0fbc029c5    1
2981d985-2904-45f4-b89a-8b436f3ec0f8    1
6976e177-193c-42f3-88b1-8676cf478ecd    1
Name: count, Length: 3341, dtype: int64

In [15]:
len([x for x in list(vc) if x >= 2])

1170

In [16]:
# Amount of 2nd purchases

len([x for x in list(vc) if x >= 3])

870

In [17]:
# Amount of 3rd purchases

len([x for x in list(vc) if x >= 4])

724

In [18]:
# Amount of 4th purchases

len([x for x in list(vc) if x >= 5])

620

In [19]:
# Amount of 5th purchases

len([x for x in list(vc) if x >= 6])

551

In [24]:
countries = pd.read_excel("Case Task.xlsx", sheet_name="Country List", header=1, index_col=0)
countries

              Tier1 Rich west (RW) Spanish region (Spanish)
NaN   United States         Sweden                    Chile
NaN          Canada        Ireland                Venezuela
NaN  United Kingdom        Belgium                    Spain
NaN       Australia         France              Puerto Rico
NaN             NaN          Italy                  Bolivia
NaN             NaN        Austria       Dominican Republic
NaN             NaN        Germany                  Ecuador
NaN             NaN        Denmark                   Panama
NaN             NaN         Norway                 Paraguay
NaN             NaN    Switzerland                  Uruguay
NaN             NaN    Netherlands                      NaN
NaN             NaN    New Zealand                      NaN
NaN             NaN        Finland                      NaN
NaN             NaN     Luxembourg                      NaN
NaN             NaN        Iceland                      NaN

In [28]:
list(countries["Tier1"].dropna())

['United States', 'Canada', 'United Kingdom', 'Australia']

In [31]:
# Tier1

ios_data[ios_data["country"].isin(list(countries["Tier1"]))]["country"].count()

2126

In [32]:
# RW

ios_data[ios_data["country"].isin(list(countries["Rich west (RW)"]))]["country"].count()

552

In [33]:
# Spanish

ios_data[ios_data["country"].isin(list(countries["Spanish region (Spanish)"]))]["country"].count()

258

In [35]:
# Other

excluded_countries = countries["Tier1"].tolist() + countries["Rich west (RW)"].tolist() + countries["Spanish region (Spanish)"].tolist()
ios_data[~ios_data["country"].isin(excluded_countries)]["country"].count()

4340

In [42]:
# Conversion to 1st purchase

vc_tier1 = ios_data[ios_data["country"].isin(list(countries["Tier1"]))]['user_id'].value_counts()
vc_tier1.shape

(859,)

In [40]:
len([x for x in list(vc_tier1) if x >= 2])

360

In [41]:
len([x for x in list(vc_tier1) if x >= 3])

285

In [43]:
vc_rw = ios_data[ios_data["country"].isin(list(countries["Rich west (RW)"]))]['user_id'].value_counts()
vc_rw.shape

(230,)

In [44]:
len([x for x in list(vc_rw) if x >= 2])

94

In [45]:
len([x for x in list(vc_rw) if x >= 3])

74

In [46]:
vc_spanish = ios_data[ios_data["country"].isin(list(countries["Spanish region (Spanish)"]))]['user_id'].value_counts()
vc_spanish.shape

(137,)

In [47]:
len([x for x in list(vc_spanish) if x >= 2])

42

In [48]:
len([x for x in list(vc_spanish) if x >= 3])

27

In [49]:
excluded_countries = countries["Tier1"].tolist() + countries["Rich west (RW)"].tolist() + countries["Spanish region (Spanish)"].tolist()
vc_other = ios_data[~ios_data["country"].isin(excluded_countries)]["user_id"].value_counts()
vc_other.shape

(2126,)